# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

*Objetives:*

* List popular languages that Data Scientists use.
* List commonly used libraries used by Data Scientists.
* Comment on Data Science tools.
* Learning more about arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:

1. Python.
2. R.
3. SQL.
4. JavaScript.

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow.
2. NumPy.
3. SciPy.
4. Pandas.

| Data Science Tools |
| --- |
| RStudio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [12]:
7 + 5

12

In [13]:
x = 2 + 3 * 4 - 5 / 2 ** 3
result = x
print(result)

13.375

In [14]:
a = 10
b = 3
c = a % b
result = c
print(result)

1

In [15]:
 # This a simple arithmetic expression to mutiply then add integers

In [16]:
(3*4)+5

17

In [17]:
# This will convert 200 minutes to hours by diving by 60

In [18]:
days = 0
hours = 0
mins = 0

time = 200
leftover_minutes = time % 1440
hours = leftover_minutes / 60
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

0 days, 3.3333333333333335 hours, 0 mins.

## Author

Evelyn Lopes.